[Unit]
Description=Wiseflat xPL suncalc daemon
After=networking.service
After=xpl-hub.service

[Service]
Type=simple
ExecStart=node /opt/xpl-suncalc/index.js
Restart=always

[Install]
WantedBy=multi-user.target
